/*body{
	background-image: url('../Ressource/Image/homme%20sac%20%C3%A0%20dos%203.jpeg');
	background-repeat: no-repeat;
  background-attachment: fixed;
background-size: cover;
}*/

* {
	margin: 0;
}

.iframe {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
}

.iframe iframe {
	display: block; 
	width: 100%; 
	height: 100%; 
	border: none;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0
}

.menu {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	height: 50px;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer{
	background-color: orange;
	flex-shrink: 0;
}
  
iframe body{
	background:none transparent !important;
	background-color:none  !important;
}

/*couleur du site*/

/*
* couleur principal: 609DE0
* couleur secondaire: FFDC01
*
*
*
*/

.Bold {
	font-weight: bold;
}

.Bold td {
	font-weight: bold;
}

.Bold td.Center {
	text-align: center;
	vertical-align: middle;
}

.Center {
	text-align: center;
	vertical-align: middle;
}

.TableBorder td,
.TableBorder tr {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
}

td ul li {
	margin-top: 2px;
}


.big-checkbox {
	width: 20px;
	height: 20px;
}

.mt-6 {
	margin-top: 4rem !important;
}

a img {
	cursor: pointer;
}

footer div > img +img {
	margin-left: 5px !important;	
}

.imageBandeau{
	/*width:auto;
	height:100%; 
	max-width:1080px;*/
	/*width: 1080px;
	height: 350px;*/

	width:100%;
	height:100%; 
	/*max-width:1080px;
	max-height:350px;*/
	
}
.imageTemplateText{
	width:400px;
	height:200px ;
	text-align: center
}
.imageBasPageAccueil{
	width:100%;
	height:100%;

	max-width:195px;
	max-height:240px; 
	min-width:195px;
	min-height:240px; 
	
}
.basPage > div > div{
	margin-bottom: 0.625rem !important;

}
@media (min-width:576px) {
	.imageBandeau{
		max-width:540px;
		max-height:180px; 
		min-width:540px;
		min-height:180px; 
	}
	.imageBasPageAccueil{
		max-width:195px;
		max-height:240px; 
		min-width:195px;
		min-height:240px; 		
	}
}

@media (min-width: 768px){
	.imageBandeau{
		max-width:720px;
		max-height:230px;
		min-width:720px;
		min-height:230px;
	}
	.imageBasPageAccueil{
		max-width:230px;
		max-height:280px; 
		min-width:230px;
		min-height:280px;  		
	}
}

@media (min-width: 992px){
	.imageBandeau{
		max-width:960px;
		max-height:305px;
		min-width:960px;
		min-height:305px;
	}
	.imageBasPageAccueil{
		max-width:180px;
		max-height:225px;
		min-width:180px;
		min-height:225px;		
	}
}
@media (min-width: 1200px){
	.imageBandeau{
		max-width:1080px;
		max-height:345px;
		min-width:1080px;
		min-height:345px;
	}
	.imageBasPageAccueil{
		max-width:230px;
		max-height:290px;
		min-width:230px;
		min-height:290px; 		
	}
}

@media (max-width: 768px){
	.basPage >div +div{
		margin-top: .5rem!important;
	}
}