/*body{
	background-image: url('../Ressource/Image/homme%20sac%20%C3%A0%20dos%203.jpeg');
	background-repeat: no-repeat;
  background-attachment: fixed;
background-size: cover;
}*/

html,
body {
	height: 100%;
}

iframe {
	width: 100%;
	height: 90%;
	}
iframe body{
	background:none transparent !important;
	background-color:none  !important;
}

/*couleur du site*/

/*
* couleur principal: 609DE0
* couleur secondaire: FFDC01
*
*
*
*/

.Bold {
	font-weight: bold;
}

.Bold td {
	font-weight: bold;
}

.Bold td.Center {
	text-align: center;
	vertical-align: middle;
}

.Center {
	text-align: center;
	vertical-align: middle;
}

.TableBorder td,
.TableBorder tr {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
}

td ul li {
	margin-top: 2px;
}


.big-checkbox {
	width: 20px;
	height: 20px;
}

.mt-6 {
	margin-top: 4rem !important;
}

a img {
	cursor: pointer;
}
footer{
	background:orange;
}

footer div > img +img {
	margin-left: 5px !important;	
}
@media (max-width: 768px){
	.basPage >div +div{
		margin-top: .5rem!important;
	}
}
.imageBandeau{
	width: 1080px;
	height: 345px;
}
.imageTemplateText{
	width:400px;
	height:200px ;
	text-align: center
}
.imageBasPageAccueil{
	width:200px;
	height:300px ;
	text-align: center
}